<form id="edit_rfid_attr-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="" ids="{$row.id}">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Countrie_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-rfid_attr_countries_id" class="form-control" name="row[rfid_attr_countries_id]">
                {volist name="$info['countries']" id="item"}
                <option value="{$item.c_id}" {in name="$row.rfid_attr_countries_id" value="$item.c_id"}selected="selected"{/in}>{$item.name}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Es_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-rfid_attr_es_id" class="form-control" name="row[rfid_attr_es_id]">
                {volist name="$info['es']" id="item"}
                <option value="{$item.es}" {in name="$row.rfid_attr_es_id" value="$item.es"}selected="selected"{/in}>{$item.name}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Project_name_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-rfid_attr_productname_id" class="form-control" name="row[rfid_attr_productname_id]">
                {volist name="$info['product_name']" id="item"}
                <option value="{$item.p_id}" {in name="$row.rfid_attr_productname_id" value="$item.p_id"}selected="selected"{/in}>{$item.name}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Specs_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-rfid_attr_specs_id" class="form-control" name="row[rfid_attr_specs_id]">
                {volist name="$info['specs']" id="item"}
                <option value="{$item.s_id}" {in name="$row.rfid_attr_specs_id" value="$item.s_id"}selected="selected"{/in}>{$item.name}</option>
                {/volist}
            </select>
        </div>
    </div>
    <input id="c-batch_number" data-rule="required" class="form-control" name="row[type]" type="hidden" value="1">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Batch_number')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-batch_number" data-rule="required" class="form-control datetimepicker" data-date-format="YY-MM" data-date-default-date="{$row.batch_number|htmlentities}" name="row[batch_number]" type="text" value="{$row.batch_number|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Serial_number')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-serial_number" data-rule="required" class="form-control" name="row[serial_number]" type="text" value="{$row.serial_number|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Reason')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-reason" data-rule="" class="form-control" name="row[reason]" type="text" value="" placeholder="修改原因，没有请忽略">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
        </div>
    </div>
</form>